.position-relative {
    position: relative;
}
.position-absolute {
    position: absolute;
}
.z-index {
    z-index: 5;
}
.w-90 {
    width: 90%;
}
.h-100 {
    height: 100%;
}
.text-center {
    text-align: center;
}
.line-gradient {
    width: 100%;
    height: 2px;
    background: rgb(0, 9, 79);
    background: linear-gradient(90deg, #95a0f7 0%, rgba(39, 59, 181, 1) 50%, #95a0f7 100%);
}
.mt-50 {
    margin-top: 50px;
}
.mt-80 {
    margin-top: 80px;
}
.mb-80 {
    margin-bottom: 80px;
}
.w-120 {
    width: 120px;
    height: 120px;
}
.w-150 {
    width: 150px;
    height: 150px;
}
.w-300 {
    width: 300px;
    height: 300px;
}

.list-icon {
    display: flex;
    align-items: center;

    svg {
        min-width: 30px;
        width: 30px;
        min-height: 30px;
        height: 30px;
        margin-right: 15px;
    }

    span{
        font-size: 20px;
        font-weight: 500;

        @include mobile{
            font-size: 16px;
        }
    }
}

.w-sm-200 {
    @include mobile {
        width: 200px;
        height: 200px;
    }
}
.bg-white{
    background-color: #fff;
}
