.position-relative {
    position: relative;
}
.position-absolute {
    position: absolute;
}
.z-index {
    z-index: 5;
}
.w-90 {
    width: 90%;
}
.h-100 {
    height: 100%;
}
.text-center {
    text-align: center;
}
.mt-50 {
    margin-top: 50px;
}
.mt-80 {
    margin-top: 80px;
}
.mb-80 {
    margin-bottom: 80px;
}
.w-150 {
    width: 150px;
    height: 150px;
}
.w-300 {
    width: 300px;
    height: 300px;
}

.w-sm-200 {
    @include mobile {
        width: 200px;
        height: 200px;
    }
}
