@font-face {
    font-family: 'OfficinaSansC';
    src: url('OfficinaSansC-Book.woff2') format('woff2'),
        url('OfficinaSansC-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

