// header
header.header.container-fluid
	.container.d-flex
		.header__logo
			a(href="#")
				img(src="img/logo.png", alt="Логотип")
			p Рестораны, клубы и отели под ключ. Ресторанный консалтинг
		.header__menu
			nav
				ul
					li
						a(href="#") Главная
					li
						a(href="#") Услуги
					li
						a(href="#") Проекты
					li
						a(href="#") О компании
					li
						a(href="#") Блог
					li
						a(href="#") Контакты

		.header__contact
			a(href="tel:+74957349960") +7 (495) 734-99-60
			button.btn Заказать звонок
