.header {
    background-color: transparent;
    transition: 300ms ease;
    position: fixed;
    z-index: 10;
    top: 0;

    @include mobile {
        padding-top: 15px;
        padding-bottom: 15px;
    }
    &__active {
        background-color: $blue;
    }

    &__logo {
        a {
            font-size: 20px;
            color: white;
            text-transform: uppercase;
        }
    }

    &__menu {
        &_block {
            @include laptop {
                display: none;
            }
        }

        &_list {
            display: flex;
            align-items: center;
            margin: 0;
            padding: 0;
            list-style: none;

            &--item {
                margin: 0 15px;
                position: relative;

                button,
                a {
                    color: white;
                    padding-top: 25px;
                    padding-bottom: 25px;
                }
                &:hover {
                    .header__menu_dropdown {
                        opacity: 1;
                        visibility: visible;
                    }
                }
            }
        }

        &_dropdown {
            position: absolute;
            background-color: #fff;
            width: 280px;
            padding: 20px;
            box-sizing: border-box;

            transition: 250ms ease;
            opacity: 0;
            visibility: hidden;

            left: -20px;
            top: 74px;
            z-index: 2;

            box-shadow: $box-shadow;

            &::after {
                content: "";
                display: block;
                position: absolute;
                top: -7px;
                left: 20px;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 0 13px 11px;
                border-color: transparent transparent #fff;
            }

            li {
                margin-top: 12px;
                margin-bottom: 4px;
                a {
                    color: black;
                    padding: 0;

                    &:hover {
                        color: $blue;
                    }
                }
            }
        }
    }

    &__contact {
        a {
            font-size: 20px;
            color: white;
        }
    }
}

.hamburger_menu {
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;

    align-items: flex-end;
    &_line {
        width: 35px;
        height: 2px;
        background-color: #fff;
        transition: 250ms ease;

        &_top {
            width: 26px;
            margin-bottom: 9px;
        }
    }

    &_active {
        .hamburger_menu_line {
            transform: rotate(45deg) translateX(-8px) translateX(6px) translateY(-8px);
            width: 24px;
        }
        .hamburger_menu_line_top {
            transform: rotate(-45deg) translateX(-6px) translateX(6px) translateY(6px);
            width: 24px;
        }
    }
}
