.btn{
    padding: 18px 50px;
    border-radius: 30px;
    background-color: #fff;
    text-transform: uppercase;
    transition: 300ms;
    font-weight: 600;
    color: black;
    border: none;

    @include mobile{
        padding: 14px 40px;
    }

    &-blue{
        color: white;
        background-color: $blue;

        &:hover{
            background-color: darken($blue, 15);
        }
    }

    &-file{
        font-size: 14px;
        border-radius: 2px;
        padding: 6px 18px 6px 10px;
        font-weight: 500;
        background-color: #525252;
    }

    &-small{
        font-size: 16px;
        font-weight: 500;
        padding: 12px 50px;
    }
}