.input-block {
    display: flex;
    position: relative;
    label {
        position: absolute;
        top: 25px;
        transform: translateY(-50%);
        left: 5px;
        color: $dark-blue;
        cursor: text;
        font-size: 16px;
        transition: 300ms ease;

        &.is-active {
            top: -5px;
            left: 0;
            font-size: 11px;
        }

        @include mobile {
            font-size: 14px;
        }
    }
    .input {
        width: 100%;
        background-color: transparent;
        padding: 10px 40px 10px 0px;
        border-bottom: 1px solid $grey;
        border-radius: 0;
        color: $dark-blue;
        font-size: 18px;
        font-weight: bold;

        &:focus {
            border-bottom: 1px solid $dark-blue;
        }
    }
    textarea {
        height: 100px;
    }
}

.upload-file__input {
    opacity: 0;
    position: absolute;
    z-index: -1;
    overflow: hidden;
    width: 0.4px;
    height: 0.4px;
}

.upload-file__label {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    width: auto;

    .svg-white {
        width: 18px;
        height: 18px;
        fill: white;
        margin-right: 10px;
    }
}

.upload-file__label .upload-file__text {
    transition: 0.25s ease;
}

.accordion__item {
    background:  white;
    border-radius: 4px;
}
.accordion__item:not(:last-child) {
    margin-bottom: 15px;
}
.accordion__header {
    padding: 20px;
    padding-right: 50px;
    font-size: 24px;
    font-weight: 600;
    color: black;
    position: relative;
    cursor: pointer;

    @include tablet {
        font-size: 16px;
    }
}
.accordion__header::after {
    content: "";
    display: block;
    width: 22px;
    height: 22px;
    padding: 15px;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: 0;
    bottom: 0;
    margin: auto;
    background: url("../images/icons/arrow-down-black.svg") no-repeat center;
    background-size: 45% 50%;
    background-color: white;
    transition: all 0.4s ease;
}
.accordion__body {
    padding: 0 40px 20px 20px;
    font-weight: 500;
    font-size: 20px;
    color: black;
    display: none;
}
.open-accordion .accordion__body {
    display: block;
}
.open-accordion .accordion__header::after {
    transform: rotate(-180deg);
}
