<section class="container-fluid px-0 section section-black">
    <div class="container">
        <h2 class="section__title" data-aos="fade-down">Варианты взаимодействия</h2>
        <div class="row mt-5">
            <div class="col-lg-6 mb-5" data-aos="fade-down">
                <div class="line-block">
                    <h3 class="line-block__title">Усиление действующей команды</h3>
                    <p class="line-block__text">Предоставим специалистов, которые соответствуют уровню или опытнее ваших специалистов.</p>
                </div>
            </div>
            <div class="col-lg-6 mb-5" data-aos="fade-down">
                <div class="line-block">
                    <h3 class="line-block__title">Разработка проекта с начала</h3>
                    <p class="line-block__text">Готовы взяться за полную разработку проекта, начиная от составления тз до запуска сайта.</p>
                </div>
            </div>
            <div class="col-lg-6 mb-5" data-aos="fade-down">
                <div class="line-block">
                    <h3 class="line-block__title">Поддержка уже готового проекта</h3>
                    <p class="line-block__text">Поможем поддержать даже провальный проект, на любой стадии.</p>
                </div>
            </div>
            <div class="col-lg-6 mb-5" data-aos="fade-down">
                <div class="line-block">
                    <h3 class="line-block__title">Рефакторинг + продолжение разработки</h3>
                    <p class="line-block__text">Переработаем говнокод и поможем реабилитировать проект.</p>
                </div>
            </div>
        </div>
        <div class="line-gradient my-5"></div>
        <div class="row">
            <div class="col-lg-4" data-aos="fade-down">
                <div class="section__posttitle text-center">По-проектно</div>
            </div>
            <div class="col-lg-4" data-aos="fade-down">
                <div class="section__posttitle text-center">Time & material</div>
            </div>
            <div class="col-lg-4" data-aos="fade-down">
                <div class="section__posttitle text-center">Аутстаффинг</div>
            </div>
        </div>
    </div>
</section>