<section class="container-fluid px-0 section section">
    <div class="container">
        <h2 class="section__title" data-aos="fade-down">Разработчики</h2>
        <div class="row mt-5">
            <div class="col-lg-4 col-sm-6 col-12 mt-5" data-aos="fade-down">
                <div class="card-cases card-cases--developer">
                    <div class="card-cases__img">
                        <img src="assets/images/img/developers/1.jpg" alt="Изображения">
                    </div>
                    <div class="card-cases__block">
                        <div class="card-cases__title">Семен Гудим</div>
                        <p class="card-cases__text mb-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur delectus magni nesciunt porro fugit cumque sit labore quam impedit harum.</p>
                        <a href="#" class="btn btn-ex-small btn-grey btn-radius card-cases__btn">СМОТРЕТЬ РЕЗЮМЕ</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-12 mt-5" data-aos="fade-down">
                <div class="card-cases card-cases--developer">
                    <div class="card-cases__img">
                        <img src="assets/images/img/developers/1.jpg" alt="Изображения">
                    </div>
                    <div class="card-cases__block">
                        <div class="card-cases__title">Семен Гудим</div>
                        <p class="card-cases__text mb-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur delectus magni nesciunt porro fugit cumque sit labore quam impedit harum.</p>
                        <a href="#" class="btn btn-ex-small btn-grey btn-radius card-cases__btn">СМОТРЕТЬ РЕЗЮМЕ</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-12 mt-5" data-aos="fade-down">
                <div class="card-cases card-cases--developer">
                    <div class="card-cases__img">
                        <img src="assets/images/img/developers/1.jpg" alt="Изображения">
                    </div>
                    <div class="card-cases__block">
                        <div class="card-cases__title">Семен Гудим</div>
                        <p class="card-cases__text mb-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur delectus magni nesciunt porro fugit cumque sit labore quam impedit harum.</p>
                        <a href="#" class="btn btn-ex-small btn-grey btn-radius card-cases__btn">СМОТРЕТЬ РЕЗЮМЕ</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>