<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="footer__logo" data-aos="fade-down">
                    Логотип
                </div>
                <ul class="footer__social" data-aos="fade-down">
                    <li>
                        <a href="#">Иконка</a>
                    </li>
                </ul>
                <div class="footer__copyright" data-aos="fade-down">© 2020 – Zi1 ∞</div>
                <div class="footer__policy" data-aos="fade-down"><a href="#">Политика конфиденциальности</a></div>
            </div>
            <div class="col-lg-3">
                <div class="footer__title" data-aos="fade-down">О компании</div>
                <ul class="footer__links" data-aos="fade-down">
                    <li><a href="#">Наш блог</a></li>
                    <li><a href="#">Миссия и цели</a></li>
                    <li><a href="#">Карьера</a></li>
                    <li><a href="#">Портфолио</a></li>
                    <li><a href="#">Контакты</a></li>
                </ul>
            </div>
            <div class="col-lg-3">
                <div class="footer__title" data-aos="fade-down">Аутсорсинг</div>
                <ul class="footer__links" data-aos="fade-down">
                    <li><a href="#">Backend PHP разработка</a></li>
                    <li><a href="#">Backend Python разработка</a></li>
                    <li><a href="#">Frontend разработка</a></li>
                    <li><a href="#">Мобильная разработка</a></li>
                    <li><a href="#">QA и тестирование</a></li>
                </ul>
            </div>
            <div class="col-lg-3">
                <div class="footer__title" data-aos="fade-down">Услуги</div>
                <ul class="footer__links" data-aos="fade-down">
                    <li><a href="#">Удаленный офис разработки</a></li>
                    <li><a href="#">Помощь найма для IT-сферы</a></li>
                    <li><a href="#">Решения для фин.сектора</a></li>
                    <li><a href="#">Решения для НПФ</a></li>
                    <li><a href="#">Искусственный интеллект</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>