<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 mb-4" data-aos="fade-down">
                <div class="footer__logo">
                    Логотип
                </div>
                <ul class="footer__social">
                    <li><a href="#">Тут будут соц-сети</a></li>
                </ul>
                <div class="footer__copyright">© 2020 – Zi1 ∞</div>
                <div class="footer__policy"><a href="#">Политика конфиденциальности</a></div>
            </div>
            <div class="col-lg-3 col-md-6 mb-4" data-aos="fade-down">
                <div class="footer__title">О компании</div>
                <ul class="footer__links">
                    <li><a href="mission.html">Миссия и цели</a></li>
                    <li><a href="carrer.html">Карьера</a></li>
                    <li><a href="portfolio.html">Портфолио</a></li>
                    <li><a href="contact.html">Контакты</a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-6 mb-4" data-aos="fade-down">
                <div class="footer__title">Аутсорсинг</div>
                <ul class="footer__links">
                    <li><a href="#">Backend PHP разработка</a></li>
                    <li><a href="#">Backend Python разработка</a></li>
                    <li><a href="#">Frontend разработка</a></li>
                    <li><a href="#">Мобильная разработка</a></li>
                    <li><a href="qa-testing.html">QA и тестирование</a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-6 mb-4" data-aos="fade-down">
                <div class="footer__title">Услуги</div>
                <ul class="footer__links">
                    <li><a href="rdo.html">Удаленный офис разработки</a></li>
                    <li><a href="#">Помощь найма для IT-сферы</a></li>
                    <li><a href="#">Решения для фин.сектора</a></li>
                    <li><a href="#">Решения для НПФ</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>