<section class="container-fluid px-0 section office">
    <div class="container">
        <h2 class="section__title" data-aos="fade-down">У нас здорово работать</h2>
        <p class="section__subtitle text-center mb-5" data-aos="fade-down">В наш креативный офис ходят на экскурсию, приходи и ты.</p>
        <div class="row mb-5">
            <div class="col-lg-10 offset-lg-1" data-aos="fade-down">
                <!-- Swiper -->
                <div class="swiper-container gallery-top">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="assets/images/img/home/bg-main.jpg" alt="">
                        </div>
                        <div class="swiper-slide">
                            <img src="assets/images/img/home/bg-main.jpg" alt="">
                        </div>
                        <div class="swiper-slide">
                            <img src="assets/images/img/home/bg-main.jpg" alt="">
                        </div>
                        <div class="swiper-slide">
                            <img src="assets/images/img/home/bg-main.jpg" alt="">
                        </div>
                        <div class="swiper-slide">
                            <img src="assets/images/img/home/bg-main.jpg" alt="">
                        </div>
                    </div>
                    <!-- Add Arrows -->
                    <div class="swiper-button-next swiper-button-white"></div>
                    <div class="swiper-button-prev swiper-button-white"></div>
                </div>
                <div class="swiper-container gallery-thumbs">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="assets/images/img/home/bg-main.jpg" alt="">
                        </div>
                        <div class="swiper-slide">
                            <img src="assets/images/img/home/bg-main.jpg" alt="">
                        </div>
                        <div class="swiper-slide">
                            <img src="assets/images/img/home/bg-main.jpg" alt="">
                        </div>
                        <div class="swiper-slide">
                            <img src="assets/images/img/home/bg-main.jpg" alt="">
                        </div>
                        <div class="swiper-slide">
                            <img src="assets/images/img/home/bg-main.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-lg-4 col-md-6 mt-4" data-aos="fade-down">
                <div class="icon-block icon-block--small">
                    <div class="icon-block__img">
                        <svg class="svg-icon">
                            <use xlink:href="assets/images/icons/sprite.svg#add-people"></use>
                        </svg>
                    </div>
                    <h3 class="icon-block__title">Работаем с 10:00 до 19:00</h3>
                    <p class="icon-block__text">График индивидуально корректируемый. Иногда можно трудиться из дома. Обед можно смещать.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mt-4" data-aos="fade-down" data-aos-delay="100">
                <div class="icon-block icon-block--small">
                    <div class="icon-block__img">
                        <svg class="svg-icon">
                            <use xlink:href="assets/images/icons/sprite.svg#wallet"></use>
                        </svg>
                    </div>
                    <h3 class="icon-block__title">Хорошее рабочее место</h3>
                    <p class="icon-block__text">Обеспечим удобным рабочим местом, шустрым компьютером и всей необходимой канцелярией.</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 mt-4" data-aos="fade-down" data-aos-delay="200">
                <div class="icon-block icon-block--small">
                    <div class="icon-block__img">
                        <svg class="svg-icon">
                            <use xlink:href="assets/images/icons/sprite.svg#no-risk"></use>
                        </svg>
                    </div>
                    <h3 class="icon-block__title">Комфортный офис</h3>
                    <p class="icon-block__text">Офис в центре. Кухня с кофе, чаем. Комната отдыха с X-box'ом, самокат, лонгборд, музыка в туалете, круговая терраса.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="container-fluid px-0 section section-grey">
    <div class="container">
        <h2 class="section__title" data-aos="fade-down">Команда</h2>
        <div class="row mt-5">
            <div class="col-lg-3 col-md-6 mt-4" data-aos="fade-down">
                <div class="icon-block">
                    <h3 class="icon-block__title">Растём</h3>
                    <p class="icon-block__text">Постоянное взаимодействие и обмен опытом позволяют быстро расти и быть в теме.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mt-4" data-aos="fade-down" data-aos-delay="100">
                <div class="icon-block">
                    <h3 class="icon-block__title">Обсуждаем</h3>
                    <p class="icon-block__text">Еженедельно собираемся и обсуждаем свои планы и цели.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mt-4" data-aos="fade-down" data-aos-delay="200">
                <div class="icon-block">
                    <h3 class="icon-block__title">Помогаем</h3>
                    <p class="icon-block__text">Продуктивный код ревью в помощь.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mt-4" data-aos="fade-down" data-aos-delay="200">
                <div class="icon-block">
                    <h3 class="icon-block__title">Развиваем</h3>
                    <p class="icon-block__text">Внутренние лекции и мастер-классы по новым технологиям.</p>
                </div>
            </div>
        </div>
        <p class="section__subtitle text-center mt-4 mn-5" data-aos="fade-down">Если ты знаешь, что такое результат, жаждешь его, чтобы им насладиться, в нашей команде тебе будет комфортно!</p>
        <h2 class="section__title mt-5" data-aos="fade-down">Развитие в компании</h2>
        <p class="section__subtitle text-center mt-4" data-aos="fade-down">Устраиваем пятничные встречи с интересными ребятами, изучаем английский прямо в офисе, ездим на конференции, посещаем курсы и интенсивы, обучаем друг друга внутри компании. Есть своя библиотека.</p>
    </div>
</section>