<header class="header container-fluid">
    <div class="row">
        <div class="col-xl-2 col-lg-8 col-8 d-flex align-items-center">
            <div class="header__logo">
                <a href="index.html">
                    Логотип
                </a>
            </div>
        </div>
        <div class="col-lg-8 header__menu_block d-xl-flex justify-content-center align-items-center">
            <div class="header__menu">
                <nav>
                    <ul class="header__menu_list">
                        <li class="header__menu_list--item">
                            <button>О нас</button>
                            <ul class="header__menu_dropdown">
                                <li>
                                    <a href="mission.html">Миссия, цель, ценности</a>
                                </li>
                                <li>
                                    <a href="history.html">История</a>
                                </li>
                                <li>
                                    <a href="office.html">Офис</a>
                                </li>
                            </ul>
                        </li>
                        <li class="header__menu_list--item">
                            <button>Услуги</button>
                            <ul class="header__menu_dropdown">
                                <li>
                                    <a href="rdo.html">Удаленный офис разработки</a>
                                </li>
                                <li>
                                    <a href="design.html">Аутсорс UX/UI дизайна</a>
                                </li>
                                <li>
                                    <a href="develop.html">Web-разработка проектов</a>
                                </li>
                                <li>
                                    <a href="fast-development.html">Быстрая разработка $</a>
                                </li>
                                <li>
                                    <a href="support.html">Техническая поддержка</a>
                                </li>
                                <li>
                                    <a href="agents.html">Для digital и рекламных агентств</a>
                                </li>
                                <li>
                                    <a href="partnership.html">Технологический партнёр</a>
                                </li>
                                <li>
                                    <a href="start-with-creative.html">Варианты сотрудничества</a>
                                </li>
                            </ul>
                        </li>
                        <li class="header__menu_list--item">
                            <button>Аутсорсинг разработки</button>
                            <ul class="header__menu_dropdown header__menu_dropdown--section">
                                <li>
                                    <ul>
                                        <li>
                                            <a href="php.html">PHP разработка</a>
                                        </li>
                                        <li>
                                            <a href="symfony.html">PHP разработка на Symfony</a>
                                        </li>
                                        <li>
                                            <a href="laravel.html">PHP разработка на Laravel</a>
                                        </li>
                                        <li>
                                            <a href="yii.html">PHP разработка на Yii</a>
                                        </li>
                                        <li>
                                            <a href="bitrix.html">Web-разработка на 1C-Bitrix</a>
                                        </li>
                                        <li>
                                            <a href="python.html">Python разработка</a>
                                        </li>
                                        <li>
                                            <a href="django.html">Python разработка на Django</a>
                                        </li>
                                        <li>
                                            <a href="flask.html">Python разработка на Flask</a>
                                        </li>
                                        <li>
                                            <a href="node.html">Web-разработка на Node</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <ul>
                                        <li>
                                            <a href="layout.html">Верстка любой сложности</a>
                                        </li>
                                        <li>
                                            <a href="frontend.html">Frontend разработка</a>
                                        </li>
                                        <li>
                                            <a href="react.html">Frontend разработка на React</a>
                                        </li>
                                        <li>
                                            <a href="vue.html">Frontend разработка на Vue</a>
                                        </li>
                                        <li>
                                            <a href="angular.html">Frontend разработка на Angular</a>
                                        </li>
                                        <li>
                                            <a href="swift.html">Разработка на Swift для iOS</a>
                                        </li>
                                        <li>
                                            <a href="kotlin.html">Разработка на Kotlin для Android</a>
                                        </li>
                                        <li>
                                            <a href="react-native.html">Разработка на ReactNative</a>
                                        </li>
                                        <li>
                                            <a href="flutter.html">Разработка на Flutter</a>
                                        </li>
                                        <li>
                                            <a href="#">Аутсорсинг тестирования</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>

                        </li>
                        <li class="header__menu_list--item">
                            <a href="#">Портфолио</a>
                        </li>
                        <li class="header__menu_list--item">
                            <button>Карьера</button>
                            <ul class="header__menu_dropdown">
                                <li>
                                    <a href="#">Ссылка</a>
                                </li>
                                <li>
                                    <a href="#">Ссылка</a>
                                </li>
                                <li>
                                    <a href="#">Ссылка</a>
                                </li>
                                <li>
                                    <a href="#">Ссылка</a>
                                </li>
                                <li>
                                    <a href="#">Ссылка</a>
                                </li>
                                <li>
                                    <a href="#">Ссылка</a>
                                </li>
                                <li>
                                    <a href="#">Ссылка</a>
                                </li>
                            </ul>
                        </li>
                        <li class="header__menu_list--item">
                            <a href="#">Контакты</a>
                        </li>
                        <li class="header__menu_list--item">
                            <a href="#">EN</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="col-lg-2 d-none d-xl-flex align-items-center justify-content-end">
            <div class="header__contact">
                <a href="#">+7 123 123 12 12</a>
            </div>
        </div>
        <div class="col-lg-4 col-4 d-flex d-xl-none align-items-center justify-content-end">
            <div class="header__burger" data-aos="fade-up">
                <button class="js-menu-open d-flex">
                    <div class="hamburger_menu">
                        <div class="hamburger_menu_line hamburger_menu_line_top"></div>
                        <div class="hamburger_menu_line hamburger_menu_line_bottom"></div>
                    </div>
                </button>
            </div>
        </div>
    </div>
    <!-- <nav class="header-mobile">

    </nav> -->
</header>