<header class="header container-fluid">
    <div class="row" data-aos="zoom-out-down">
        <div class="col-lg-3 d-flex align-items-center">
            <div class="header__logo">
                <a href="#">
                    Логотип
                </a>
            </div>
        </div>
        <div class="col-lg-6 d-flex justify-content-center align-items-center">
            <div class="header__menu">
                <nav>
                    <ul class="header__menu_list">
                        <li class="header__menu_list--item">
                            <a href="#">О нас</a>
                            <ul class="header__menu_dropdown">
                                <li>
                                    <a href="#">Ссылка</a>
                                </li>
                                <li>
                                    <a href="#">Ссылка</a>
                                </li>
                                <li>
                                    <a href="#">Ссылка</a>
                                </li>
                                <li>
                                    <a href="#">Ссылка</a>
                                </li>
                                <li>
                                    <a href="#">Ссылка</a>
                                </li>
                                <li>
                                    <a href="#">Ссылка</a>
                                </li>
                                <li>
                                    <a href="#">Ссылка</a>
                                </li>
                            </ul>
                        </li>
                        <li class="header__menu_list--item">
                            <a href="#">Услуги</a>
                            <ul class="header__menu_dropdown">
                                <li>
                                    <a href="#">Ссылка</a>
                                </li>
                                <li>
                                    <a href="#">Ссылка</a>
                                </li>
                                <li>
                                    <a href="#">Ссылка</a>
                                </li>
                                <li>
                                    <a href="#">Ссылка</a>
                                </li>
                                <li>
                                    <a href="#">Ссылка</a>
                                </li>
                                <li>
                                    <a href="#">Ссылка</a>
                                </li>
                                <li>
                                    <a href="#">Ссылка</a>
                                </li>
                            </ul>
                        </li>
                        <li class="header__menu_list--item">
                            <a href="#">Аутсорсинг разработки</a>
                            <ul class="header__menu_dropdown">
                                <li>
                                    <a href="#">Ссылка</a>
                                </li>
                                <li>
                                    <a href="#">Ссылка</a>
                                </li>
                                <li>
                                    <a href="#">Ссылка</a>
                                </li>
                                <li>
                                    <a href="#">Ссылка</a>
                                </li>
                                <li>
                                    <a href="#">Ссылка</a>
                                </li>
                                <li>
                                    <a href="#">Ссылка</a>
                                </li>
                                <li>
                                    <a href="#">Ссылка</a>
                                </li>
                            </ul>
                        </li>
                        <li class="header__menu_list--item">
                            <a href="#">Портфолио</a>
                        </li>
                        <li class="header__menu_list--item">
                            <a href="#">Карьера</a>
                            <ul class="header__menu_dropdown">
                                <li>
                                    <a href="#">Ссылка</a>
                                </li>
                                <li>
                                    <a href="#">Ссылка</a>
                                </li>
                                <li>
                                    <a href="#">Ссылка</a>
                                </li>
                                <li>
                                    <a href="#">Ссылка</a>
                                </li>
                                <li>
                                    <a href="#">Ссылка</a>
                                </li>
                                <li>
                                    <a href="#">Ссылка</a>
                                </li>
                                <li>
                                    <a href="#">Ссылка</a>
                                </li>
                            </ul>
                        </li>
                        <li class="header__menu_list--item">
                            <a href="#">Контакты</a>
                        </li>
                        <li class="header__menu_list--item">
                            <a href="#">EN</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="col-lg-3 d-flex align-items-center justify-content-end">
            <div class="header__contact">
                <a href="#">+7 123 123 12 12</a>
            </div>
        </div>
    </div>
</header>