<section class="container-fluid px-0 section section-grey reviews">
    <div class="container">
        <h2 class="section__title" data-aos="fade-down">Отзывы</h2>
        <!-- Swiper -->
        <div class="swiper-container mt-5" data-aos="fade-down">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="reviews__card">
                        <div class="reviews__card_img">
                            <img src="assets/images/icons-img/develop/review-1.jpg" alt="Изображения">
                        </div>
                        <div class="reviews__card_text">
                            Они настоящие Бетмены - могут спасти провальный проект, перелопатив чужой говнокод, и сделать из него конфетку.
                        </div>
                        <div class="reviews__card_person">
                            <div class="reviews__card_person_name">Оксана Клименко</div>
                            <div class="reviews__card_person_status">Исполнительный директор AIC</div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="reviews__card">
                        <div class="reviews__card_img">
                            <img src="assets/images/icons-img/develop/review-1.jpg" alt="Изображения">
                        </div>
                        <div class="reviews__card_text">
                            Они настоящие Бетмены - могут спасти провальный проект, перелопатив чужой говнокод, и сделать из него конфетку.
                        </div>
                        <div class="reviews__card_person">
                            <div class="reviews__card_person_name">Оксана Клименко</div>
                            <div class="reviews__card_person_status">Исполнительный директор AIC</div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="reviews__card">
                        <div class="reviews__card_img">
                            <img src="assets/images/icons-img/develop/review-1.jpg" alt="Изображения">
                        </div>
                        <div class="reviews__card_text">
                            Они настоящие Бетмены - могут спасти провальный проект, перелопатив чужой говнокод, и сделать из него конфетку.
                        </div>
                        <div class="reviews__card_person">
                            <div class="reviews__card_person_name">Оксана Клименко</div>
                            <div class="reviews__card_person_status">Исполнительный директор AIC</div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Add Arrows -->
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </div>
    </div>
</section>