<section class="container-fluid px-0 section">
    <div class="container">
        <h2 class="section__title" data-aos="fade-down">Почему аутсорсинг?</h2>
        <div class="row mt-5">
            <div class="col-lg-4 mb-5" data-aos="fade-down">
                <div class="line-block">
                    <h3 class="line-block__title">Выгодно</h3>
                    <p class="line-block__text">Найм специалиста на аутсорсинг выгоднее, чем содержать собственного штатного специалиста, исходя из оклада, налогов, ДМС и других издержек.</p>
                </div>
            </div>
            <div class="col-lg-4 mb-5" data-aos="fade-down">
                <div class="line-block">
                    <h3 class="line-block__title">Быстро</h3>
                    <p class="line-block__text">Предварительная оценка, разворачивание проекта и старт работ производится за 1−2 рабочих дня.</p>
                </div>
            </div>
            <div class="col-lg-4 mb-5" data-aos="fade-down">
                <div class="line-block">
                    <h3 class="line-block__title">Под контролем</h3>
                    <p class="line-block__text">Для code review мы подключаем тимлидов, чтобы предоставить еще более качественный и прогнозируемый результат.</p>
                </div>
            </div>
            <div class="col-lg-4 mb-5" data-aos="fade-down">
                <div class="line-block">
                    <h3 class="line-block__title">Снижение рисков</h3>
                    <p class="line-block__text">Мы берем на себя такие риски, как: болезнь специалистов и их бабушек, технические неисправности и прочее.</p>
                </div>
            </div>
            <div class="col-lg-4 mb-5" data-aos="fade-down">
                <div class="line-block">
                    <h3 class="line-block__title">Гибкость команды</h3>
                    <p class="line-block__text">В считанные дни подключим к проекту дополнительных разработчиков. Спросите у вашего HR сколько времени нужно для найма.</p>
                </div>
            </div>
            <div class="col-lg-4 mb-5" data-aos="fade-down">
                <div class="line-block">
                    <h3 class="line-block__title">Смежные области</h3>
                    <p class="line-block__text">Есть возможность подключить специалистов из смежных областей, тем самым решив для вас более широкий круг задач в рамках одной проектной группы.</p>
                </div>
            </div>
        </div>
    </div>
</section>